* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(184, 172, 133);
}

/* Form classes */
.business-card-form {
  margin: 1rem;
  padding: 1.4rem 2rem;
  background-color: rgb(31, 31, 31);
  color: rgb(241, 241, 241);
  max-width: 600px;
}

.business-card-form #form div {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.business-card-form #form div:first-child {
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.business-card-form #form div input {
  margin-top: 1rem;
  padding: 0.4rem;
  width: 60%;
  height: 40px;
  border-radius: 5px;
  border: none;
}

.business-card-form .create-card-btn {
  display: inline-block;
  margin-top: 3rem;
  width: 40%;
  height: 50px;
}

.business-card-form .create-card-btn button {
  padding: 0.6rem 1rem;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: none;
  background-color: rgb(226, 165, 34);
  color: rgb(241, 241, 241);
  border: 2px solid black;
}

/* New elemt classes */

.new-card-wrap {
  max-width: 600px;
  margin: 1rem;
  padding: 2rem 1rem;
  background-color: rgb(31, 31, 31);
  color: rgb(241, 241, 241);
  display: flex;
}

.info-1 {
  text-align: center;
  margin: 0 2rem;
  padding: 0.3rem 1.2rem;
  border: 1px solid rgb(226, 165, 34);
}

.img-icon {
  border: 2px solid black;
  border-radius: 50%;
  padding: 40px;
}

.img {
  padding: 1rem;
  margin-bottom: 1rem;
}

.info-1-title {
  margin: 1rem 0;
  color: rgb(226, 165, 34);
}

.new-card-icons {
  color: rgb(226, 165, 34);
}

.info-2 {
  display: flex;
  align-items: flex-start;
}

.info-2-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.pa-1 {
  padding: 1rem;
}
